a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none !important; }
a:active { text-decoration: none; }

.bi-chat-dots{
    font-size: 2rem;
    margin-left: 10px;
}
.bi-pencil-square{
    font-size: 2rem;
    margin-left: 10px;
}
.card-header{
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}